<h1>New Recipe</h1>

<% form_for :recipe, :url=>recipes_path do |f| %>
  <%= render :partial=>'form', :locals =>{:f => f} %>
  <br/>
  <div class='submit'><%= submit_tag 'Save' %> | <%= link_to 'Cancel', recipes_path %></div>
<% end %>

<% form_for :ingredient, :url => ventas_carrito_items_path, :remote => true do |f|
