<div>Código: <%=h @recipe.code %></div>
<div>Nombre: <%=h @recipe.name %></div>
<div>Versión: <%=h @recipe.version %></div>
<div>Comentario: <%=h @recipe.comment %></div>
<div>Activa: <%=h @recipe.active %></div>
<h5>Ingredientes</h5>
<%= render :partial=>'show_grid', :locals =>{:recipe => @recipe} %>
