h5 {
    background-color: #434343;
    color: #fff;
    border: solid 1px #212121;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0;
    padding-left: 5px;
    font-size: 17px;
}

.wrapper {
    margin: 0 auto;
    width: 900px;
}

#header {
    margin: 0 auto;
    background: #f0f0f0; /* #434343;*/
    height: 80px;
    width: 900px;
    margin-bottom: 5px;
    border: 1px solid #cbcbcb; /*#212121;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#logo {
    float: left;
    width: 600px;
    margin-left: 5px;
    margin-top: 2px;
}

#logo img {
    float: left;
    padding-right: 15px;
}

#logo h1 {
    float: left;
    margin-bottom: -5px;
    font-size: 30px;
    width: 500px;
    color: #383838;
}

#logo p {
    float: left;
    font-size: 14px;
    color: #848484;
    width: 500px;
    margin: 1px 0 !important;
}

#user-stats {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    text-align: right;
    font-size: 15px;
    padding: 0px;
    width: 
}

#user-stats p {
    display: inline;
    color: #666;
}

#mango-logo {
    width: 90px;
    float: right;
}

#user-stats img {
    float: left;
}

#user-stats .separator {
    margin-top: 28px;
}

#user-stats .branding {
    width: 60px;
    float: left;
    text-align: left;
    margin-left: 5px;
    color: #aaa;
    font-size: 10px;
    margin-top: 5px;
}

#user-stats .branding.title {
    font-weight: bold;
}

#user-stats .branding.version {
}

#user-stats span a {
    font-size: 12px;
    color: #666;
}

#menu {
    height: 35px;
    background-color: #434343;
    color: #fff;
    border: solid 1px #212121;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

#menu p {
    float: left;
    margin: 6px 0 0 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Helvetica';
}

#menu ul, li {
    float: right;
    list-style-type: none !important;
}

#menu ul {
    margin-right: 10px;
}

#menu li {
    margin-top: 3px;
    padding: 0 5px;
}

#menu li a {
    color: #fff;
}

#menu form {
    float: right;
}

#menu form fieldset input {
    width: 100%;
    height: 24px;
    padding-left: 10px;
    border: none;
    font-size: 12px;
    color: #404040;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}

#content {
    padding: 20px;
    width: 860px; /* 900 - 20*2 (padding) */
    background: #fff;
    border: solid 1px #cfcfcf;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#footer {
    margin-top: 5px;
    margin-bottom: 20px;
}
#footer p {
    font-size: 12px;
    text-align: center;
}

#data_progress {
  text-align: center;
}

/* Reports */
#report_title {
  cursor: pointer;
}

.report-content {
    float: left;
    width: 830px;
    margin: 0 10px;
}

.report-content h2 {
    font-size: 17px;
    border-bottom: solid 1px #999;
    margin-bottom: 8px;
    cursor: pointer;
}

.report-content p {
    font-size: 15px;
}

.report-details {
    padding-bottom: 30px;
}

.report-details label .normal {
    width: 100px;
}
