h1 {
    font-size: 50px;
}

h2  {
    font-size: 22px;
}

h3 {
    font-size:108%;
}

h1,h2,h3 {
    margin: 0;
}

h1,h2,h3,h4,h5,h6,strong {
    font-weight:bold;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

abbr,acronym {
    border-bottom:1px dotted #000;cursor:help;
}

em {
    font-style:italic;
}

blockquote,ul,ol,dl {
    margin: 0;
}

ol,ul,dl {
    margin-left: 0;
}

ol li {
    list-style: decimal outside;
}

ul li {
    list-style: circle outside;
}

dl dd {
    margin-left:1em;
}

th,td {
    border:1px solid #000;
    padding: 5px;
}

th {
    font-weight:bold;text-align:center;
}

caption {
    margin-bottom:.5em;text-align:center;
}

p,fieldset,table,pre {
    margin-bottom: 0;
}

input[type=text],input[type=password],textarea {
    /*width:12.25em;*width:11.9em;*/
}

html, body {
    font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif !important;
    background: #dedede;
    color: #383838;
    font-size: 13px;
}

.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
} /* IE < 8 */

.push {
    height: 1px;
}

.action {
    margin-right: 5px;
}
