#content .wrapper {
    width: 820px;
    padding: 40px;
}

.module {
    margin-bottom: 20px;
}
.module img {
    display: block;
    float: left;
    padding-right: 10px;
}

.module-content {
    float: left;
    width: 250px;
    margin-left: 10px;
}

.module-content h2 {
    font-size: 17px;
    border-bottom: solid 1px #999;
    margin-bottom: 8px;
}

.module-content p {
    font-size: 15px;
}
