#content {
    padding: 20px;
    width: 860px;
    background: #fff;
    border: solid 1px #cfcfcf;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

#dashboard-content h3 {
    background-color: #aaa;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.module {
    margin-bottom: 20px;
}
.module img {
    display: block;
    float: left;
    padding-right: 10px;
}

.module-content {
    float: left;
    width: 250px;
    margin-left: 10px;
}

.module-content h2 {
    font-size: 17px;
    border-bottom: solid 1px #999;
    margin-bottom: 8px;
}

.module-content p {
    font-size: 14px;
    color: #666;
}

.module-content h2 a {
    text-decoration: none;
}
