form label {
  float: left;
  clear: both;
  display: block;
  text-align: right;
  padding-right: 5px;
  margin-bottom: 2px;
}

form label.small {
  width: 100px;
}

form input[type='text'] {
  border: 1px solid #999;
  background-color: #fff;
}

form .field {
  float: left;
  display: block;
  margin-bottom: 2px;
}

form input[type='text']:focus {
  background-color: #FFFDC0;
}
