form label {
  float: left;
  clear: both;
  display: block;
  text-align: right;
  padding-right: 5px;
  margin-bottom: 2px;
}

form label.small {
  width: 100px;
}

form input[type='text'], form input[type='password'] {
  border: 1px solid #999;
  background-color: #fff;
}

form .field, form .field-no {
  float: left;
  display: block;
}

form .field {
  margin-bottom: 5px;
}

form .text_disabled {
  background-color: #eee !important;
}

form input[type='text']:focus, form input[type='password']:focus {
  background-color: #FFFDC0;
}

form .chzn-field-small {
  width: 100px;
  text-align: left;
}

form .chzn-field-medium {
  width: 200px;
  text-align: left;
}

form .chzn-field-normal {
  width: 300px;
  text-align: left;
}

form .active-result {
  display: block;
  float: left;
  clear: both;
}

form .field span {
  color: #c00;
  margin-left: 5px;
}

form .required {
  color: #c00;
  margin-left: 15px;
}

form .field_with_errors {
  border-width: 2px 1px 2px 1px;
  border-color: #c00;
  border-style: solid;
  display: inline;
}

form .field .chzn-single span {
  color: #000;
  margin-left: 0px;
}
