form label {
  float: left;
  clear: both;
  display: block;
  text-align: right;
  padding-right: 5px;
  margin-bottom: 2px;
}

form label.small {
  width: 100px;
}

form input[type='text'] {
  border: 1px solid #999;
  background-color: #fff;
}

form .field {
  float: left;
  display: block;
  margin-bottom: 2px;
}

form .text_disabled {
  background-color: #eee !important;
}

form input[type='text']:focus {
  background-color: #FFFDC0;
}

form .chzn-field-small {
  width: 100px;
  text-align: left;
}

form .chzn-field-medium {
  width: 200px;
  text-align: left;
}

form .chzn-field-normal {
  width: 300px;
  text-align: left;
}

form .active-result {
  display: block;
  float: left;
  clear: both;
}
