.wrapper {
    width: 360px !important;
}

#login {
    background: url('images/menu-background.png') repeat-x #434343;
    color: #fff;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px #212121;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
}

#login .text-label {
    text-align: right;
    font-size: 18px;
}

#login .text-field {
    width: 160px;
    height: 24px;
    padding-left: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    border: none;
    font-size: 12px;
    color: #404040;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}

#user_submit {    
    margin-bottom: 10px;
}

#login p {
    text-align: center;
}
#login a {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

#footer {
    margin-top: 190px;
}
