.wrapper {
    width: 360px !important;
    margin: 50px auto;
}

#header {
    margin: 0 auto;
    background: #f0f0f0;
    height: 80px;
    margin-bottom: 8px;
    border: 1px solid #cbcbcb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#logo {
    float: left;
    width: 300px;
    margin-left: 5px;
    margin-top: 2px;
}

#logo img {
    float: left;
    padding-right: 15px;
}

#logo h1 {
    float: left;
    margin-left: -5px;
    margin-bottom: -5px;
    font-size: 45px;
    font-weight: bold;
    width: 200px;
}

#logo p {
    font-size: 14px;
    color: #848484;
}

#content {
    background-color: #434343;
    color: #fff;
    padding: 15px 30px 30px 30px;
    margin-bottom: 8px;
    border: solid 1px #212121;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#content .text-label {
    text-align: right;
    font-size: 18px;
}

#content .text-field {
    width: 160px;
    height: 24px;
    padding-left: 10px;
    margin-left: 20px;
    margin-bottom: 25px;
    border: none;
    color: #404040;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}

#user_submit {
    margin: 10px auto;
}

#content p {
    text-align: center;
}
#content a {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

#footer p {
    font-size: 12px;
    text-align: center;
}

.blue-button {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    color: #fff;
    background: #13a1e3;
    #border: solid 1px !3f91b7;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.blue-button:hover {
    background: #2aafed;
}

.blue-button:active {
    position: relative;
    top: 1px;
}

.separator {
    padding: 8px 0px;
}
