#notice{
  float: left;
  width: 950px;
  height: 22px;
  margin-top: 1px;
  margin-bottom: 2px;
  padding: 1px 1px 1px 26px;
}

#notice.error{
  color: #CC0000;
  background: #FFFFCC url('../images/exclamation.png') no-repeat;
  background-position: 4px 2px;
  border: 1px solid #cfb400;
}

#notice.empty{
  color: #665e2c;
  background: #FFFFCC url('../images/empty.png') no-repeat;
  background-position: 4px 2px;
  border: 1px solid #cfb400;
}

#notice.warning{
  color: #CC0000;
  background: #FFFFCC url('../images/warning.png') no-repeat;
  background-position: 4px 2px;
  border: 1px solid #cfb400;
}

#notice.info{
  color: #024b00;
  background: #FFFFCC url('../images/ok.png') no-repeat;
  background-position: 4px 2px;
  border: 1px solid #cfb400;
}

