#notice{
  height: 22px;
  text-align: left;
  padding-left: 25px;
  padding-top: 3px;
}

#notice.error {
  color: #444;
  background: #ffebe8 url('../images/notice-error.png') no-repeat;
  background-position: 4px 4px;
  border: 1px solid #dd3c10;
}

#notice.warn {
  color: #444;
  background: #fff9d7 url('../images/notice-warning.png') no-repeat;
  background-position: 4px 4px;
  border: 1px solid #cfb400;
}

#notice.info {
  color: #444;
  background: #fff9d7 url('../images/notice-information.png') no-repeat;
  background-position: 4px 4px;
  border: 1px solid #cfb400;
}

