#tabledata {
    width: 100%;
}

#tabledata thead th {
    font-weight: normal;
    font-size: 12px;
    padding: 6px 10px;
    background: #ccc url('../images/table-footer-bg.png') repeat-x 50% 50%;
    border: 1px solid #aaa;
    -moz-border-top-right-radius: 4px 4px;
    -webkit-border-top-right-radius: 4px 4px;
    -khtml-border-top-right-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    -moz-border-top-left-radius: 4px 4px;
    -webkit-border-top-left-radius: 4px 4px;
    -khtml-border-top-left-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
}

#tabledata tbody td {
    border-width: 0px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 13px;
}

#tabledata thead .actions {
    width: 230px;
}

#tabledata thead .actions_medium {
    width: 180px;
    text-align: center;
}

#tabledata thead .actions_small {
    width: 140px;
    text-align: center;
}

#tabledata .center {
    text-align: center;
}

#tabledata .right {
    text-align: right;
}

#tabledata .blank {
    background-color: #f7f7f7;
}

#tabledata .alternate {
    background-color: #ededed;
}

#tablefooter {
    background: #ccc url('../images/table-footer-bg.png') repeat-x 50% 50%;
    border: 1px solid #aaa;
    width: 100%;
    height: 30px;
    text-align: right;
    /*-moz-border-bottom-right-radius: 4px 4px;
    -webkit-border-bottom-right-radius: 4px 4px;
    -khtml-border-bottom-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    -moz-border-bottom-left-radius: 4px 4px;
    -webkit-border-bottom-left-radius: 4px 4px;
    -khtml-border-bottom-left-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;*/
}

#tableheader {
    background: #ccc url('../images/table-footer-bg.png') repeat-x 50% 50%;
    border: 1px solid #aaa;
    width: 100%;
    height: 30px;
    -moz-border-top-right-radius: 4px 4px;
    -webkit-border-top-right-radius: 4px 4px;
    -khtml-border-top-right-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    -moz-border-top-left-radius: 4px 4px;
    -webkit-border-top-left-radius: 4px 4px;
    -khtml-border-top-left-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
}

#tabledata thead th p {
    float: left;
}

.order_arrow {
    background: url('../images/arrow-both.png') no-repeat;
    width: 11px;
    height: 16px;
    cursor: pointer;
    float: right;
}
