<%= render_error_messages(f.error_messages) %>
<label for="name" class="small">Nombre:</label>
<div class="field"><%= f.text_field :name, :size=>'20' %> <span>*</span></div>
<label for="name" class="small">Hora inicio:</label>
<div class="field"><%= f.time_select :start_hour %> <span>*</span></div>
<label for="tel1" class="small">Hora fin:</label>
<div class="field"><%= f.time_select :end_hour %> <span>*</span></div>
<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>
