<h1>New Client</h1>

<% form_for :client, :url=>clients_path do |f| %>
  <%= render :partial=>'form', :locals =>{:f => f} %>
  <br/>
  <div class='submit'><%= submit_tag 'Save' %> | <%= link_to 'Cancel', clients_path %></div>
<% end %>
