<% if @ingredients.length > 0 %>
  <div style="height: 300px; overflow:auto;">
    <table>
      <tbody>
      <%
        @ingredients.each do |i|
      %>
        <tr>
          <td><%= link_to_remote i.code, :url=>ingredient_select_path(:code=>i.code, :name=>i.name) %></td>
          <td><%=h i.name %></td>
        </tr>
      <%
        end
      %>
      </tbody>
    </table>
  </div>
<% else %>
  <div>No se encontró ningún ingredientes</div>
<% end %>
