common: &common
  adapter: mysql2
  username: root 
  password: mango

development:
  << : *common
  database: mango_dev

test:
  << : *common
  database: mango_test

production:
  << : *common
  database: mango
