<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= stylesheet_link_tag 'grids-min' %>
    <%= stylesheet_link_tag 'login' %>
    <%= stylesheet_link_tag 'notice' %>
    <%= stylesheet_link_tag 'modal' %>
    <%= javascript_include_tag :defaults %>
    <title>Mango :: Inversiones Porcinas</title>
  </head>
  <body id="login">
    <%= render_popup_dialog %>
    <div id="container" class="yui3-g">
      <div id="header" class="yui3-u-1"></div>
      <div id="contenido" class="yui3-u-1">
        <%= render_flash_notice %>
        <%= yield %>
      </div>
      <div id="footer" class="yui3-u-1">Footer (C) Copyright 2011</div>
    </div>
  </body>
</html>
